.PrivacyPolicyTitle {
  color: rgb(0, 0, 0);
}
.PrivacyPolocyText {
  color: rgb(0, 0, 0);
}
.goToAppPrivacyPolicy {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.goToAppPrivacyPolicyBtn {
  background-color: rgb(255, 255, 255);
}
