.PrivacyPolicyTitle {
  color: aliceblue;
}
.PrivacyPolocyText {
  color: aliceblue;
}
.goToAppPrivacyPolicy {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.goToAppPrivacyPolicyBtn {
  background-color: aliceblue;
}
